* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  /* Primary colors */
  --primary-color: hsl(170, 100%, 26%);
  --secondary-color-headline: hsl(210, 11%, 15%);
  --secondary-color-paragraph: hsl(210, 9%, 31%);
  --secondary-color-white: hsl(0, 0%, 100%);
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;

  text-align: center;
}

header {
  width: 37.5rem;
  margin: 4.1rem auto 1.6rem;
}

h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 3.4rem;
  color: var(--secondary-color-headline);
  line-height: 130%;
  margin-bottom: 4.1rem;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--secondary-color-paragraph);
  margin-bottom: 3.2rem;
}

button {
  width: 263px;
  height: 52px;
  border: none;
  border-radius: 2.5rem;
  margin: 0 auto 6rem;
  background: var(--primary-color);

  font-size: 1.4rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;


  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

img {

}
